$primary-color: #ca9acd;
$secondary-color: #007bff;
$text-primary: #5f6061;
$text-secondary: #669999; //**
$text-and-border: #98999a;
$checkboxes: #26a69a;
$gallery: #3085a3;
//Bubba effect
$bubba-figure-effect: #9e5406;
$bubba-border: #fff;