@font-face {
    font-family: 'Product Sans Thin';
    src: url('../fonts/product-sans-thin.ttf');
}

@font-face {
    font-family: 'Product Sans Light';
    src: url('../fonts/product-sans-light.ttf');
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/century-gothic.ttf');
}

* {
    font-family: "Product Sans Light";
    font-size: 17px;
}

html {
  background: transparent !important;
}

body {
    height: 100vh;
    background-color: #fefefe;
}

input {
  padding: 6px !important;
}

body {
  padding-top: 50px !important;
}

.invalid-feedback > strong {
  font-size: 12px !important;
}

.profile-info
{
    margin-top: 10px;
}

/*THEME CHOOSING*/
.theme-demo
{
    width: 75px;
    height: 40px;
    border: 1px solid black;
}

/*THEME 1*/
.theme1-color1
{
    background-color: antiquewhite;
}
.theme1-color2
{
    background-color: yellow;
}
.theme1-color3
{
    background-color: green;
}
.theme1-color4
{
    background-color: blue;
}
/*THEME 2*/
.theme2-color1
{
    background-color: navajowhite;
}
.theme2-color2
{
    background-color: darkcyan;
}
.theme2-color3
{
    background-color: darkgray;
}
.theme2-color4
{
    background-color: peachpuff;
}
/*THEME 3*/
.theme3-color1
{
    background-color: gold;
}
.theme3-color2
{
    background-color: azure;
}
.theme3-color3
{
    background-color: red;
}
.theme3-color4
{
    background-color: royalblue;
}


.invalid-feedback > strong {
  font-size: 12px !important;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 17px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  margin-top: -17px;
  margin-right: -17px;
  background: var(--primary-color) !important;
}

.btn-outline-success:hover {
  color: white !important;
}

.image {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

