@font-face {
  font-family: 'Product Sans Thin';
  src: url('../fonts/product-sans-thin.ttf');
}

@font-face {
  font-family: 'Product Sans Light';
  src: url('../fonts/product-sans-light.ttf');
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/century-gothic.ttf');
}

* {
  font-family: "Product Sans Light";
  font-size: 17px;
}

body {
  height: 100vh;
  background-color: #fefefe;
}

input {
  padding: 5px !important;
}

body {
  padding-top: 50px !important;
}